body{
    text-align: center;
    background-image: linear-gradient(#c10cc7,#c2441d);
    background-repeat: no-repeat;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border:2px solid black;

}
img:hover{
    box-shadow: 0px 0px 5px 5px yellow;
}

a{
    display: block;
    text-decoration: none;
    margin-bottom: 3rem;
}

